In [ ]:
import pandas as pd
import numpy as np
import datetime as dt

# Working with `DatetimeIndex`.

In this exercise, you'll see Python's `Datetime`, pandas `Timestamp`, `pandas.to_datetime()` and pandas `DateTimeIndex`.

`Datetime` [Documentation](https://docs.python.org/fr/3/library/datetime.html)<br>
Pandas `Timestamps` [Documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Timestamp.html)<br>
Pandas`.to_datetime()` [Documentation](https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html)<br>
Pandas `DataTimeIndex` [Documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DatetimeIndex.html)

**1. Using these four tools, create a date object for the 29th November 2022. Print the dates you've created.**

ex: dt1 = dt.datetime(2029,11,29)

In [ ]:
dt1 = dt.datetime(2022,11,29)
dt2 = pd.Timestamp('2022-11-29')
dt3 = pd.to_datetime('2022-11-29')
dt4 = pd.DatetimeIndex(['2022-11-29'])
print(f"Dates : \ndatetime : {dt1}\nTimestamp : {dt2}\nto_datetime() : {dt3}\nDateTimeIndex : {dt4}")

Dates :
datetime : 2022-11-29 00:00:00
Timestamp : 2022-11-29 00:00:00
to_datetime() : 2022-11-29 00:00:00
DateTimeIndex : DatetimeIndex(['2022-11-29'], dtype='datetime64[ns]', freq=None)

**2. Compare the Datetime, pandas Timestamp, pandas.to_datetime() date objects. Are they equal ?**

In [ ]:
dt1 == dt2 == dt3

True

**3. Using the `to_datetime()` function, convert the following list of strings into a date object.**

`dates = ['2021-1-1', '2021-1-2']`

In [ ]:
dates = ['2021-1-1', '2021-1-2']
pd_dates = pd.to_datetime(dates)
print(pd_dates)

DatetimeIndex(['2021-01-01', '2021-01-02'], dtype='datetime64[ns]', freq=None)

**4. Using the to_datetime() function, convert the following list of strings into a date object.**

In [ ]:
dates = ['2021-01-01',                  # date str format %Y-%m-%d
         '2/1/2021',                    # date str format %m/%d/%Y
         '03-01-2021',                  # date  str format %m-%d-%Y
         'April 1, 2021',               # date  str format %B %d, %Y
         '20210501',                    # date str format %Y%m%d
          np.datetime64('2021-07-01'),  # numpy datetime64
          dt.datetime(2021, 8, 1),      # python datetime
          pd.Timestamp(2021,9,1)        # pandas Timestamp
          ]

In [ ]:
pd_dates = pd.to_datetime(dates)
print(pd_dates)

DatetimeIndex(['2021-01-01', '2021-02-01', '2021-03-01', '2021-04-01',
               '2021-05-01', '2021-07-01', '2021-08-01', '2021-09-01'],
              dtype='datetime64[ns]', freq=None)

**5. Do the same with the `DateTimeIndex` pandas function.**

In [ ]:
pd_dates = pd.DatetimeIndex(dates)
print(pd_dates)

DatetimeIndex(['2021-01-01', '2021-02-01', '2021-03-01', '2021-04-01',
               '2021-05-01', '2021-07-01', '2021-08-01', '2021-09-01'],
              dtype='datetime64[ns]', freq=None)

**6. Use the following functions/properties on the date object obtained from question 5:**

*   .day_name()
*   .month
*   .year
*   .days_in_month
*   .quarter
*   .is_leap_year
*   .is_month_start
*   .is_year_start

In [ ]:
print(f'Name of Day : {pd_dates.day_name()}', end ='\n\n')
print(f'Month : {pd_dates.month}', end ='\n\n')
print(f'Year : {pd_dates.year}', end ='\n\n')
print(f'Days in Month : {pd_dates.days_in_month}', end ='\n\n')
print(f'Quarter {pd_dates.quarter}', end ='\n\n')
print(f'Leap Year : {pd_dates.is_leap_year}', end ='\n\n')
print(f'Month Start : {pd_dates.is_month_start}', end ='\n\n')
print(f'Month End : {pd_dates.is_month_end}', end ='\n\n')
print(f'Year Start : {pd_dates.is_year_start}', end ='\n\n')

Name of Day : Index(['Friday', 'Monday', 'Monday', 'Thursday', 'Saturday', 'Thursday',
       'Sunday', 'Wednesday'],
      dtype='object')

Month : Int64Index([1, 2, 3, 4, 5, 7, 8, 9], dtype='int64')

Year : Int64Index([2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021], dtype='int64')

Days in Month : Int64Index([31, 28, 31, 30, 31, 31, 31, 30], dtype='int64')

Quarter Int64Index([1, 1, 1, 2, 2, 3, 3, 3], dtype='int64')

Leap Year : [False False False False False False False False]

Month Start : [ True  True  True  True  True  True  True  True]

Month End : [False False False False False False False False]

Year Start : [ True False False False False False False False]

# `DateTime` Format Arguments
When working with datasets extracted from different data sources, you may encounter date columns stored in string format, whether from files or databases.

You can reformat these dates using the `strptime` and the `strftime` methods.

`strftime` [Documentation](https://docs.python.org/fr/3.6/library/time.html#time.strftime)

`strptime` [Documentation](https://docs.python.org/fr/3.6/library/time.html#time.strptime)

*example: <br>*
*`dt.datetime.strptime('1/1/2022', '%m/%d/%Y')`<br>*
*--> `datetime.datetime(2022, 1, 1, 0, 0)`*

**1. Convert the following date string into a date object using `strptime` : '29-Nov-2022'**

In [ ]:
dt.datetime.strptime('29-Nov-2022', '%d-%b-%Y')

datetime.datetime(2022, 11, 29, 0, 0)

**2. Convert the following date string into a date object using `strptime` : 'November 29, 2022'**

In [ ]:
dt.datetime.strptime('November 29, 2022', '%B %d, %Y')

datetime.datetime(2022, 11, 29, 0, 0)

**3. Convert the following date string into a date object using `strptime` : 'Tuesday, November 29, 2022'**

In [ ]:
dt.datetime.strptime('Tuesday, November 29, 2022', '%A, %B %d, %Y')

datetime.datetime(2022, 11, 29, 0, 0)

**4. By default, `pd.to_datetime()` understands a lot of date types. Use this function on the string date of the question 1, 2 & 3.**

In [ ]:
dt1 = pd.to_datetime('29-Nov-2022')
dt2 = pd.to_datetime('November 29, 2022')
dt3 = pd.to_datetime('Tuesday, November 29, 2022')
print(dt1)
print(dt2)
print(dt3)

2022-11-29 00:00:00
2022-11-29 00:00:00
2022-11-29 00:00:00

**5. Convert the date column of the following dataframe using the `to_datetime()` function of pandas and set it to the index using the `set_index()` function.**

In [ ]:
df = pd.DataFrame(
        {'Date': ['January 1, 2022', 'January 2, 2022', 'January 3, 2022'],
         'Sales': [23000, 19020, 21000]}
            )

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date', inplace=True)
df.head()

            Sales
Date
2022-01-01  23000
2022-01-02  19020
2022-01-03  21000

# Unix epoch `timestamps`
Epoch timestamps, sometimes referred to as Unix time or POSIX time, are a common way to store datetime in an **integer format**. Many databases, applications, and systems store dates and time in numeric format,making it mathematically easier to work with, convert, increment, decrement, and so on.

In [ ]:
import time
epoch_time = time.time()
print(epoch_time)
print(type(epoch_time))

1669715160.2658424
<class 'float'>

**1. Using pandas.`to_datetime()`, convert the timestamp into a date object.**

In [ ]:
t = pd.to_datetime(epoch_time, unit='s')
print(t)

2022-11-29 09:46:00.265842432

**2. It is possible to convert the time to another time-zone (ex: the US). Convert the date object of question 1 to a time on the US/Pacific time zone using `tz_localize('UTC').tz_convert('US/Pacific')`. UTC refers to the exact time now.**

In [ ]:
t.tz_localize('UTC').tz_convert('US/Pacific')

Timestamp('2022-11-29 01:46:00.265842432-0800', tz='US/Pacific')

**3. Create a date column based on the unix_epoch column of the following dataframe using the `to_datetime()` function of pandas, convert it into the US/Paficic time zone and set it to the index using the `set_index()` function.**

In [ ]:
df = pd.DataFrame(
        {'unix_epoch': [1641110340,  1641196740, 1641283140, 1641369540],
                'Sales': [23000, 19020, 21000, 17030]}
                )

In [ ]:
df['Date'] = pd.to_datetime(df['unix_epoch'], unit='s')
df['Date'] = df['Date'].dt.tz_localize('UTC').dt.tz_convert('US/Pacific')
df.set_index('Date', inplace=True)
df

                           unix_epoch  Sales
Date
2022-01-01 23:59:00-08:00  1641110340  23000
2022-01-02 23:59:00-08:00  1641196740  19020
2022-01-03 23:59:00-08:00  1641283140  21000
2022-01-04 23:59:00-08:00  1641369540  17030

# Time Deltas
When working with time-series data, you may need to perform some calculations on your datetime columns, such as adding or subtracting. The `Timedelta` class makes it possible to derive new datetime objects by adding or subtracting at different ranges or increments, such as seconds, daily, and weekly.

`pandas.Timedelta()` [Documentation](https://pandas.pydata.org/docs/reference/api/pandas.Timedelta.html)

**1. Using the `pandas.timedelta()` function and the dataframe below, create a new column that adds 30 days to the puchase_dt columns**

In [ ]:
df = pd.DataFrame({'item': ['item1', 'item2', 'item3', 'item4', 'item5', 'item6'],
                   'purchase_dt': pd.date_range('2021-01-01', periods=6, freq='D', tz='UTC')})

In [ ]:
df['purchase_dt_+30'] = df['purchase_dt'] + pd.Timedelta(days=30)
df

    item               purchase_dt           purchase_dt_+30
0  item1 2021-01-01 00:00:00+00:00 2021-01-31 00:00:00+00:00
1  item2 2021-01-02 00:00:00+00:00 2021-02-01 00:00:00+00:00
2  item3 2021-01-03 00:00:00+00:00 2021-02-02 00:00:00+00:00
3  item4 2021-01-04 00:00:00+00:00 2021-02-03 00:00:00+00:00
4  item5 2021-01-05 00:00:00+00:00 2021-02-04 00:00:00+00:00
5  item6 2021-01-06 00:00:00+00:00 2021-02-05 00:00:00+00:00

**2. It is also possible to use raw text to add time deltas such as: '35 days 12 hours 30 minutes'. Create a new column with this time delta added to the purchase_dt column.**

In [ ]:
df['purchase_dt_custom'] = df['purchase_dt'] + pd.Timedelta('35 days 12 hours 30 minutes')
df

,item,purchase_dt,purchase_dt_+30,purchase_dt_custom
0,item1,2021-01-01 00:00:00+00:00,2021-01-31 00:00:00+00:00,2021-02-05 12:30:00+00:00
1,item2,2021-01-02 00:00:00+00:00,2021-02-01 00:00:00+00:00,2021-02-06 12:30:00+00:00
2,item3,2021-01-03 00:00:00+00:00,2021-02-02 00:00:00+00:00,2021-02-07 12:30:00+00:00
3,item4,2021-01-04 00:00:00+00:00,2021-02-03 00:00:00+00:00,2021-02-08 12:30:00+00:00
4,item5,2021-01-05 00:00:00+00:00,2021-02-04 00:00:00+00:00,2021-02-09 12:30:00+00:00
5,item6,2021-01-06 00:00:00+00:00,2021-02-05 00:00:00+00:00,2021-02-10 12:30:00+00:00

**3. Compute the difference between the columns of question 1 and 2 and store it into a new column.**

In [ ]:
df['difference'] = df['purchase_dt_custom'] - df['purchase_dt_+30']
df

,item,purchase_dt,purchase_dt_+30,purchase_dt_custom,difference
0,item1,2021-01-01 00:00:00+00:00,2021-01-31 00:00:00+00:00,2021-02-05 12:30:00+00:00,5 days 12:30:00
1,item2,2021-01-02 00:00:00+00:00,2021-02-01 00:00:00+00:00,2021-02-06 12:30:00+00:00,5 days 12:30:00
2,item3,2021-01-03 00:00:00+00:00,2021-02-02 00:00:00+00:00,2021-02-07 12:30:00+00:00,5 days 12:30:00
3,item4,2021-01-04 00:00:00+00:00,2021-02-03 00:00:00+00:00,2021-02-08 12:30:00+00:00,5 days 12:30:00
4,item5,2021-01-05 00:00:00+00:00,2021-02-04 00:00:00+00:00,2021-02-09 12:30:00+00:00,5 days 12:30:00
5,item6,2021-01-06 00:00:00+00:00,2021-02-05 00:00:00+00:00,2021-02-10 12:30:00+00:00,5 days 12:30:00

**4. Create a column with a Timedelta of 30 days using the `timedelta()` function.**

In [ ]:
df['deltas'] = pd.Timedelta(days=30)
df

,item,purchase_dt,purchase_dt_+30,purchase_dt_custom,difference,deltas
0,item1,2021-01-01 00:00:00+00:00,2021-01-31 00:00:00+00:00,2021-02-05 12:30:00+00:00,5 days 12:30:00,30 days
1,item2,2021-01-02 00:00:00+00:00,2021-02-01 00:00:00+00:00,2021-02-06 12:30:00+00:00,5 days 12:30:00,30 days
2,item3,2021-01-03 00:00:00+00:00,2021-02-02 00:00:00+00:00,2021-02-07 12:30:00+00:00,5 days 12:30:00,30 days
3,item4,2021-01-04 00:00:00+00:00,2021-02-03 00:00:00+00:00,2021-02-08 12:30:00+00:00,5 days 12:30:00,30 days
4,item5,2021-01-05 00:00:00+00:00,2021-02-04 00:00:00+00:00,2021-02-09 12:30:00+00:00,5 days 12:30:00,30 days
5,item6,2021-01-06 00:00:00+00:00,2021-02-05 00:00:00+00:00,2021-02-10 12:30:00+00:00,5 days 12:30:00,30 days

**5. Using the new dataframe below, create a column with a time delta of one week using "1W".**

In [ ]:
df = pd.DataFrame(
        {       
        'item': ['item1', 'item2', 'item3', 'item4', 'item5', 'item6'],
        'purchase_dt': pd.date_range('2021-01-01', periods=6, freq='D', tz='UTC')
        }
)

In [ ]:
df['1 week'] = pd.Timedelta('1W')
df

    item               purchase_dt 1 week
0  item1 2021-01-01 00:00:00+00:00 7 days
1  item2 2021-01-02 00:00:00+00:00 7 days
2  item3 2021-01-03 00:00:00+00:00 7 days
3  item4 2021-01-04 00:00:00+00:00 7 days
4  item5 2021-01-05 00:00:00+00:00 7 days
5  item6 2021-01-06 00:00:00+00:00 7 days

**6. Create two columns that add and substract the column from question 5 to the purchase_dt column of the dataframe.**

In [ ]:
df['1_week_more'] = df['purchase_dt'] + df['1 week']
df['1_week_less'] = df['purchase_dt'] - df['1 week']
df

,item,purchase_dt,1 week,1_week_more,1_week_less
0,item1,2021-01-01 00:00:00+00:00,7 days,2021-01-08 00:00:00+00:00,2020-12-25 00:00:00+00:00
1,item2,2021-01-02 00:00:00+00:00,7 days,2021-01-09 00:00:00+00:00,2020-12-26 00:00:00+00:00
2,item3,2021-01-03 00:00:00+00:00,7 days,2021-01-10 00:00:00+00:00,2020-12-27 00:00:00+00:00
3,item4,2021-01-04 00:00:00+00:00,7 days,2021-01-11 00:00:00+00:00,2020-12-28 00:00:00+00:00
4,item5,2021-01-05 00:00:00+00:00,7 days,2021-01-12 00:00:00+00:00,2020-12-29 00:00:00+00:00
5,item6,2021-01-06 00:00:00+00:00,7 days,2021-01-13 00:00:00+00:00,2020-12-30 00:00:00+00:00

# `TimeZone` information
When working with time-series data that requires attention to different time zones, things can get out of hand and become more complicated. For example, when developing data pipelines, building a data warehouse, or integrating data between systems, dealing with
time zones requires attention and consensus amongst the different stakeholders in the project.

`tz_localize()` [Documentation](https://pandas.pydata.org/docs/reference/api/pandas.Series.tz_localize.html)

`tz_convert()` [Documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.tz_convert.html)

**1. Create a new dataframe based on the following one that is converted to the 'Asia/Tokyo' time zone. You can use the `tz_localize()` and the `tz_convert()` functions seen before.**

In [ ]:
df = pd.DataFrame(
        {       
        'Location': ['Los Angeles', 
                     'New York',
                     'Berlin', 
                     'New Delhi', 
                     'Moscow', 
                     'Tokyo', 
                     'Dubai'],
        'tz': ['US/Pacific', 
               'US/Eastern', 
               'Europe/Berlin', 
               'Asia/Kolkata', 
               'Europe/Moscow', 
               'Asia/Tokyo',
               'Asia/Dubai'],
        'visit_dt': pd.date_range(start='22:00',periods=7, freq='45min'),
        }).set_index('visit_dt')

In [ ]:
df = df.tz_localize('UTC')
df_asia = df.tz_convert('Asia/Tokyo')
df_asia

                              Location             tz
visit_dt
2022-11-30 07:00:00+09:00  Los Angeles     US/Pacific
2022-11-30 07:45:00+09:00     New York     US/Eastern
2022-11-30 08:30:00+09:00       Berlin  Europe/Berlin
2022-11-30 09:15:00+09:00    New Delhi   Asia/Kolkata
2022-11-30 10:00:00+09:00       Moscow  Europe/Moscow
2022-11-30 10:45:00+09:00        Tokyo     Asia/Tokyo
2022-11-30 11:30:00+09:00        Dubai     Asia/Dubai

**2. Create a column that transform the visit_dt column date time to the proper time zone thanks to the location column. You can use the `.apply()` function.**

In [ ]:
df['local_dt'] = df.index
df['local_dt'] = df.apply(lambda x: pd.Timestamp.tz_convert(x['local_dt'], x['tz']), axis=1)
df

,Location,tz,local_dt
visit_dt,,,
2022-11-29 22:00:00+00:00,Los Angeles,US/Pacific,2022-11-29 14:00:00-08:00
2022-11-29 22:45:00+00:00,New York,US/Eastern,2022-11-29 17:45:00-05:00
2022-11-29 23:30:00+00:00,Berlin,Europe/Berlin,2022-11-30 00:30:00+01:00
2022-11-30 00:15:00+00:00,New Delhi,Asia/Kolkata,2022-11-30 05:45:00+05:30
2022-11-30 01:00:00+00:00,Moscow,Europe/Moscow,2022-11-30 04:00:00+03:00
2022-11-30 01:45:00+00:00,Tokyo,Asia/Tokyo,2022-11-30 10:45:00+09:00
2022-11-30 02:30:00+00:00,Dubai,Asia/Dubai,2022-11-30 06:30:00+04:00

**3. The visit_dt date times are not easy to read. Change the format using the `strftime()` function.**

In [ ]:
df.index = df.index.strftime('%Y-%m-%d %H:%M %p')
df

                        Location             tz                   local_dt
visit_dt
2022-11-29 22:00 PM  Los Angeles     US/Pacific  2022-11-29 14:00:00-08:00
2022-11-29 22:45 PM     New York     US/Eastern  2022-11-29 17:45:00-05:00
2022-11-29 23:30 PM       Berlin  Europe/Berlin  2022-11-30 00:30:00+01:00
2022-11-30 00:15 AM    New Delhi   Asia/Kolkata  2022-11-30 05:45:00+05:30
2022-11-30 01:00 AM       Moscow  Europe/Moscow  2022-11-30 04:00:00+03:00
2022-11-30 01:45 AM        Tokyo     Asia/Tokyo  2022-11-30 10:45:00+09:00
2022-11-30 02:30 AM        Dubai     Asia/Dubai  2022-11-30 06:30:00+04:00

# Date Offsets
Offsets can help transform the dates into something more meaningful and relatable to a business. They can also help correct data entries that may not be logical.

To do so you can use the `pd.offsets` class that has many methods such as BusinessDay (Bday), MonthEnd, BusinessMonthEnd (BmonthEnd), CustomBusinessDay (Cday), QuarterEnd and so on.

`pd.offsets` [Documentation](https://pandas.pydata.org/pandas-docs/stable/reference/offset_frequency.html)

**1. Using the dataframe below, create a column with the day name using the `day_name()` function.**

In [ ]:
df = pd.DataFrame(
        {       
        'purchase_dt': pd.date_range('2021-01-01', periods=6, freq='D'),
        'production' : np.random.randint(4, 20, 6)
        }).set_index('purchase_dt')

In [ ]:
df['day'] = df.index.day_name()
df

             production        day
purchase_dt
2021-01-01            4     Friday
2021-01-02            4   Saturday
2021-01-03           15     Sunday
2021-01-04           10     Monday
2021-01-05           14    Tuesday
2021-01-06            6  Wednesday

**2. Use the second day (2021-01-02) and create a date time object using `to_datetime()`. Add `pd.offsets.BDay(0)` to this date time. Convert the result into a day name using `day_name()`. What happened ?**

In [ ]:
dt0 = pd.to_datetime('2021-01-02')
print(dt0.day_name())
dt1 = pd.to_datetime('2021-01-02') + pd.offsets.BDay(0)
print(dt1.day_name())

Saturday
Monday

**3. Some days of the DataFrame are not business days (Sunday & Saturday). Create a column that replaces these day by the next business day. You can use the `pandas.offsets.BDay()` function used in the previous question.**

In [ ]:
df['BusinessDay'] = df.index + pd.offsets.BDay(0)
df['BDay Name'] = df['BusinessDay'].dt.day_name()
df

             production        day BusinessDay  BDay Name
purchase_dt
2021-01-01            4     Friday  2021-01-01     Friday
2021-01-02            4   Saturday  2021-01-04     Monday
2021-01-03           15     Sunday  2021-01-04     Monday
2021-01-04           10     Monday  2021-01-04     Monday
2021-01-05           14    Tuesday  2021-01-05    Tuesday
2021-01-06            6  Wednesday  2021-01-06  Wednesday

**4. Create a new column that push the purchase_dt dates to the end of the month. You can use the `pd.offsets.MonthEnd(0)`function. Try with 2 instead of 0, what happened ?**

In [ ]:
df['MonthEnd'] = df.index + pd.offsets.MonthEnd(0)
df

             production        day BusinessDay  BDay Name   MonthEnd
purchase_dt
2021-01-01            4     Friday  2021-01-01     Friday 2021-01-31
2021-01-02            4   Saturday  2021-01-04     Monday 2021-01-31
2021-01-03           15     Sunday  2021-01-04     Monday 2021-01-31
2021-01-04           10     Monday  2021-01-04     Monday 2021-01-31
2021-01-05           14    Tuesday  2021-01-05    Tuesday 2021-01-31
2021-01-06            6  Wednesday  2021-01-06  Wednesday 2021-01-31

In [ ]:
df['Month2'] = df.index + pd.offsets.MonthEnd(2)
df

,production,day,BusinessDay,BDay Name,MonthEnd,Month2
purchase_dt,,,,,,
2021-01-01,4,Friday,2021-01-01,Friday,2021-01-31,2021-02-28
2021-01-02,4,Saturday,2021-01-04,Monday,2021-01-31,2021-02-28
2021-01-03,15,Sunday,2021-01-04,Monday,2021-01-31,2021-02-28
2021-01-04,10,Monday,2021-01-04,Monday,2021-01-31,2021-02-28
2021-01-05,14,Tuesday,2021-01-05,Tuesday,2021-01-31,2021-02-28
2021-01-06,6,Wednesday,2021-01-06,Wednesday,2021-01-31,2021-02-28

**5. Using the Holiday class and the pd.offsets.cDay() function, create the 1st of january as a public holiday and push it to the next business day.**

In [ ]:
from pandas.tseries.holiday import Holiday, nearest_workday

In [ ]:
newyears = Holiday("New Years", 
                   month=1, 
                   day=1, 
                   observance=nearest_workday)
newyears

Holiday: New Years (month=1, day=1, observance=<function nearest_workday at 0x7f0c8a521cb0>)

In [ ]:
df['NewYearsHoliday'] = df.index + pd.offsets.CDay(calendar=newyears)
df

/usr/local/lib/python3.7/dist-packages/pandas/core/arrays/datetimes.py:743: PerformanceWarning: Non-vectorized DateOffset being applied to Series or DatetimeIndex
  PerformanceWarning,

,production,day,BusinessDay,BDay Name,MonthEnd,Month2,NewYearsHoliday
purchase_dt,,,,,,,
2021-01-01,4,Friday,2021-01-01,Friday,2021-01-31,2021-02-28,2021-01-04
2021-01-02,4,Saturday,2021-01-04,Monday,2021-01-31,2021-02-28,2021-01-04
2021-01-03,15,Sunday,2021-01-04,Monday,2021-01-31,2021-02-28,2021-01-04
2021-01-04,10,Monday,2021-01-04,Monday,2021-01-31,2021-02-28,2021-01-05
2021-01-05,14,Tuesday,2021-01-05,Tuesday,2021-01-31,2021-02-28,2021-01-06
2021-01-06,6,Wednesday,2021-01-06,Wednesday,2021-01-31,2021-02-28,2021-01-07

# Custom business days
You can customize an offset to fit your requirements when
doing an analysis that depends on defined business days and non-business days.

To do so, you can use the `pd.offsets.CDay()` function from pandas.

`pd.offsets.CDay` [Documentation](https://pandas.pydata.org/docs/reference/api/pandas.tseries.offsets.CustomBusinessDay.html#pandas.tseries.offsets.CustomBusinessDay)

**1. Using the following wordays ("Sun Mon Tue Wed Thu"), create a custom offset using pd.offsets.CDay() and push the days of the following dataframe to the next wordays.**

In [ ]:
df = pd.DataFrame({'Date': pd.date_range('12-1-2021', periods=10)})

In [ ]:
workdays = "Sun Mon Tue Wed Thu"

custom_bday = pd.offsets.CDay(weekmask=workdays)
df['pushed_date'] = df['Date'] + custom_bday
df

/usr/local/lib/python3.7/dist-packages/pandas/core/arrays/datetimes.py:743: PerformanceWarning: Non-vectorized DateOffset being applied to Series or DatetimeIndex
  PerformanceWarning,

        Date pushed_date
0 2021-12-01  2021-12-02
1 2021-12-02  2021-12-05
2 2021-12-03  2021-12-05
3 2021-12-04  2021-12-05
4 2021-12-05  2021-12-06
5 2021-12-06  2021-12-07
6 2021-12-07  2021-12-08
7 2021-12-08  2021-12-09
8 2021-12-09  2021-12-12
9 2021-12-10  2021-12-12

**2. Do the same with custom business Hours. You can use the `pd.offsets.CustomBusinessHour()` function (see [Documentation](https://pandas.pydata.org/docs/reference/api/pandas.tseries.offsets.CustomBusinessHour.html))**

In [ ]:
cust_hours = pd.offsets.CustomBusinessHour(start="8:30",
                                           end="16:30",
                                           weekmask=workdays)
df['pushed_hours'] = df['Date'] + cust_hours
df

/usr/local/lib/python3.7/dist-packages/pandas/core/arrays/datetimes.py:743: PerformanceWarning: Non-vectorized DateOffset being applied to Series or DatetimeIndex
  PerformanceWarning,

        Date pushed_date        pushed_hours
0 2021-12-01  2021-12-02 2021-12-01 09:30:00
1 2021-12-02  2021-12-05 2021-12-02 09:30:00
2 2021-12-03  2021-12-05 2021-12-05 09:30:00
3 2021-12-04  2021-12-05 2021-12-05 09:30:00
4 2021-12-05  2021-12-06 2021-12-05 09:30:00
5 2021-12-06  2021-12-07 2021-12-06 09:30:00
6 2021-12-07  2021-12-08 2021-12-07 09:30:00
7 2021-12-08  2021-12-09 2021-12-08 09:30:00
8 2021-12-09  2021-12-12 2021-12-09 09:30:00
9 2021-12-10  2021-12-12 2021-12-12 09:30:00

# Custom Date Ranges
The `pandas.date_range()` function can be used to generate custom date ranges.

`pandas.date_range()` [Documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.date_range.html)

**1. Use the date range function to generate the next 3 days from 2022/11/29.**

Frequency units that you can use: [Documentation](https://pandas.pydata.org/docs/user_guide/timeseries.html#offset-aliases)

In [ ]:
next_3d = pd.date_range(start='2022-11-29', periods=3, freq='D')
print(next_3d)

DatetimeIndex(['2022-11-29', '2022-11-30', '2022-12-01'], dtype='datetime64[ns]', freq='D')

**2. Use the date range function to generate the next days from 2022/11/29 to 2022-12-29.**

In [ ]:
next_days = pd.date_range(start='2022-11-29', end='2022-12-29', freq='D')
print(next_days)

DatetimeIndex(['2022-11-29', '2022-11-30', '2022-12-01', '2022-12-02',
               '2022-12-03', '2022-12-04', '2022-12-05', '2022-12-06',
               '2022-12-07', '2022-12-08', '2022-12-09', '2022-12-10',
               '2022-12-11', '2022-12-12', '2022-12-13', '2022-12-14',
               '2022-12-15', '2022-12-16', '2022-12-17', '2022-12-18',
               '2022-12-19', '2022-12-20', '2022-12-21', '2022-12-22',
               '2022-12-23', '2022-12-24', '2022-12-25'],
              dtype='datetime64[ns]', freq='D')

**3. Do the same with a monthly frequency from 2022-01-31 to 2022-12-31.**

Expected result: `['2022-01-31', '2022-02-28', '2022-03-31', '2022-04-30','2022-05-31', '2022-06-30', '2022-07-31', '2022-08-31','2022-09-30', '2022-10-31', '2022-11-30', '2022-12-31']`

In [ ]:
next_12m = pd.date_range(start='2022-01-01', periods=12, freq='M')
print(next_12m)

DatetimeIndex(['2022-01-31', '2022-02-28', '2022-03-31', '2022-04-30',
               '2022-05-31', '2022-06-30', '2022-07-31', '2022-08-31',
               '2022-09-30', '2022-10-31', '2022-11-30', '2022-12-31'],
              dtype='datetime64[ns]', freq='M')

**4. Do the same using a 3-month frequency from 2022-01-31 to 2022-12-31.**

Expected result : `['2022-01-31', '2022-04-30', '2022-07-31', '2022-10-31']`

In [ ]:
next_12m_s3 = pd.date_range(start='2022-01-01', end='2022-12-31', freq='3M')
print(next_12m_s3)

DatetimeIndex(['2022-01-31', '2022-04-30', '2022-07-31', '2022-10-31'], dtype='datetime64[ns]', freq='3M')

**5. It is possible to generate business days i.e. the weekend is excluded. You can use the `bdate_range()` function from pandas. Generate the business day of November 2022.**

In [ ]:
nov_bday = pd.bdate_range(start='2022-11-01', end='2022-11-30')
print(nov_bday)

DatetimeIndex(['2022-11-01', '2022-11-02', '2022-11-03', '2022-11-04',
               '2022-11-07', '2022-11-08', '2022-11-09', '2022-11-10',
               '2022-11-11', '2022-11-14', '2022-11-15', '2022-11-16',
               '2022-11-17', '2022-11-18', '2022-11-21', '2022-11-22',
               '2022-11-23', '2022-11-24', '2022-11-25', '2022-11-28',
               '2022-11-29', '2022-11-30'],
              dtype='datetime64[ns]', freq='B')

**6. Convert these business day (from question 5) in their name (Monday, Tuesday ...) to verify the output of the bdate_range function.**

In [ ]:
nov_bday.day_name()

Index(['Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday', 'Tuesday',
       'Wednesday', 'Thursday', 'Friday', 'Monday', 'Tuesday', 'Wednesday',
       'Thursday', 'Friday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday',
       'Friday', 'Monday', 'Tuesday', 'Wednesday'],
      dtype='object')